.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
}
.link:hover,
.link:focus {
  color: teal;
}

.activeLink {
  composes: link;
  color: teal;
}
